* {
    box-sizing: border-box;
}

h1, h2 {
    font-family: Helvetica, "Times New Roman", sans-serif;
}

h1, .desc {
    text-align: center;
}

body {
    background-color: #14214d;
    color: white;
}

img {
    display: block;
    margin: auto;
    border-radius: 8px;
}

.home {
    list-style-type: none;
    font-size: 15px;
    font-family: Monospace;
    margin-top: 2px;
}

.down {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #db4b35;
}

p {
    text-align: center;
}

.center {
    text-align: center;
}

@media (max-width: 600px) {
    img {
        width: 90%;
        height: auto;
    }
    p {
        margin-left: 10%;
        margin-right: 10%;
    }

}

.leftpush {
    margin-left: 20px;
}

ol li, ul li {
    margin-bottom: 5px;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

.center-list {
    text-align: center;
}

#gif {
    width: 300px;
    margin-bottom: 20px;
}